
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<% if @posts %>                	
        		<% @posts.each do |post| %>
           		<h2><%= link_to post.title, post, class: "post-prieview post-title" %></h2>
            	<h3><%= post.content[0..100].html_safe%></h3>
            	<hr width=100%>
            	<% end %>
            <% end %>
			<br></br><br></br>
        </div>
    </div>
    <!-- /.row -->
</div>
