<!-- 
<%= image_tag("culture.jpg") %>


<%#= image_tag('eat.JPG' ,style: 'display: block; margin: auto; width: 90%;') %>

<%#= link_to image_tag('image/someimage.png') + "Some text", some_path %>

 
<%= link_to image_tag('wear.JPG' ,style: ' margin: auto;  width: 49%;'), posts_wear_path %>
<%= link_to image_tag('eat.JPG' ,style: ' margin: auto; width: 49%;'), posts_eat_path %>
<%= link_to image_tag('live.JPG' ,style: ' margin: auto; width: 49%;'), posts_live_path %>
<%= link_to image_tag('culture.JPG' ,style: ' margin: auto; width: 49%;'), posts_culture_path %>

<%#= link_to "식", posts_eat_path, class: "btn btn-default" %>
<%#= link_to "주", posts_live_path, class: "btn btn-default" %>
<%#= link_to "락", posts_culture_path, class: "btn btn-default" %>
 -->

 <!DOCTYPE html>
<html lang="en">

<body>

    <!-- Header -->
<!--     <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Letter</h1>
            <h3>The Temperature in Our Nature</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header> -->

    <!-- About -->

        <!-- /.container -->
    </section>
        <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>LIFE</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <%= link_to image_tag('wear.JPG', :class => "img-portfolio img-responsive"), posts_wear_path%>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <%= link_to image_tag('eat.JPG', :class => "img-portfolio img-responsive" ), posts_eat_path%>
                                      </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <%= link_to image_tag('live.JPG', :class => "img-portfolio img-responsive" ), posts_live_path%>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <%= link_to image_tag('portfolio-4.jpg', :class => "img-portfolio img-responsive" ), posts_culture_path%>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    


    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Give your letter to us</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12664.33398046273!2d126.9976306!3d37.482356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8e7b98f09038401d!2z7Jik7ZSI7Lus66as7KeA!5e0!3m2!1sko!2skr!4v1479241048357"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>

    <!-- Footer -->


</body>

</html>
