<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	    	 <%= simple_form_for @post do |f| %>
			    <%= f.input :category, collection: Post.categories.keys, input_html: { :style=> 'width: 100px'} %>
			    <%= f.input :season, collection: Post.seasons.keys, input_html: { :style=> 'width: 100px'} %>
			    <h4>Title</h4>
			    <%= f.text_field :title%>
			    <br></br>
			    <%= f.cktext_area :content %>
			  	<%= f.submit %>
			 <% end %>
			<br></br>
        </div>
    </div>
    <!-- /.row -->
</div>


