
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                	<% @posts.each do |post| %>
                    <h2><%= link_to post.title, post, class: "post-prieview post-title" %></h2>
                    <h3><%= post.content[0..100].html_safe%></h3>
                    <hr width=100%>
                    <% end %>
           			<br></br>
           			<% if user_signed_in? && current_user.is_editor %>
						<%= link_to "새 글 작성하기", new_post_path %>
					<% end %>
					<br></br><br></br>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

      


<!--   
<table class="table table-striped">
	<thead>
		<tr>
			<th>제목</th>
			
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
				<tr>
						<td><%= link_to post.title, post%>
				</tr>
		<% end %>
	</tbody>c
</table> -->