  	<div class="container2">
                	<h3>Letter _ Vol.1</h3>
                	<br></br>
					<h5 style="text-align:right"></h5>

					<p>정치 체제와 경제 체제. 현대 문명을 살아가는 우리가 속할 수 밖에 없는 커다란 두 개의 시스템이다. 동시대의 많은 국가들이 그러하듯, 대한민국 또한 정치적으로는 민주주의, 경제적으로는 자본주의(더 정확히는, 자본주의 시장경제) 체제 아래 운영되고 있다.</p>
					<br></br>
     <p>간혹 ‘민주주의의 실패’, ‘자본주의의 실패’에 대해 논하는 목소리들이 있다. 그러한 주장들이 틀렸다는 이야기를 하려는 것은 아니다. 분명 우리는 실패한 모습을 보고 있다. 소수의 의견이 무시된 채 결정되는 국가 정책(때로는 어정쩡하게 반영되어 이도 저도 아니게 되어버린 정책)과 거대 기업들의 횡포가 대표적인 예일 것이다. 맞다. 우리는 분명 실패를 경험하고 있고, 그에 대해 소리 높이는 이들의 말에 귀기울여야 한다. 단, 본질적으로 두 체제는 모두 가치중립적이라는 점을 잊지 않아야 한다. 시스템 그 자체는 나쁘지도, 착하지도 않다. 그것을 꾸려나가는 사람들이 ‘어떻게 사느냐’가 문제다.</p>
     <br></br>
     <p>‘어떻게 사느냐.’ 민주주의 체제 아래 살아가는 이들이 무지하고, 자신의 권리와 의무를 적극적으로 실천하지 않으면 국가의 정치는 벼랑 끝에 내몰리게 된다. (단 몇 사람 만으로도 그러한 상태에 빠질 수 있다. 우리가 지금 보고 있는 것처럼.) 자본주의에서 역시 마찬가지다. 소비자가 자신이 소비하는 것에 대해 알려 하지 않고 선택할 수 있는 힘을 포기하면 기업의 손아귀에서 놀아나게 된다. 이렇듯 무관심하고 무기력한 대중들이 살아가는 사회에서 민주주의와 자본주의는 높은 확률로 부패하고 그 안에서 살아가는 개개인의 삶마저 좀먹는다.</p>
     <br></br>
     <p>특히 자본주의의 변질은 우리네 삶을 피폐하게 만들었다. 불과 얼마전까지만 해도 기업의 활동은 오로지 이윤 추구에만 초점이 맞춰져 있었다. (물론 현재도 대다수의 기업에게 해당되는 이야기다.) 인간이 그저 돈벌이 수단에 지나지 않게 된 것도 이상한 일이 아니다. 이른 아침부터 늦은 밤까지 기계처럼 일을 시키는 것은 물론이요, 어떻게 하면 인건비를 줄일지 궁리한다. 생산비를 줄일 수 있으면 암을 일으키든, 불임을 만들든, 기형아를 낳게 하든 신경쓰지 않는다. 근래 드러난 한 외국계 회사의 행태는 그 반영이다.</p>
     환경과 동물 또한 예외일 수 없다. 초원을 자유로이 노닐며 자라야 할 동물들이 '먹여지기' 위해 제 몸 하나 들어가면 꽉 찰 철창에 갇혀 평생을 살다 죽임을 당한다. 그런가하면 인간에게 쓰일 제품 하나를 만들기 위해 매년 수만마리(어쩌면 그 이상)의 쥐, 개구리, 뱀, 토끼, 돼지, 개가 실험체로 쓰이다 생을 마감한다.</p>
     <br></br>
     <p>불편하다. 인간이 자신이 살아가고 있는 환경을, 더불어 살아가는 생명들을, 게다가 다른 인간마저도 어떤 이득을 취하기 위한 도구로써 사용하는 것은 너무나도 불편하다. 더욱 불편한 것은, 그럼에도 불구하고 우리는 여전히 내 삶만은 '건강'하기를 원한다는 점이다.
     우리는 본능적으로 건강한 삶을 열망한다. 안전하고, 편안하고, 따뜻하며 즐거운 삶을 원한다. 건강한 삶에 대한 열망은 너무나도 강해서 우리로 하여금 중요한 점을 잊게 만든다. 나의 삶은 이루는 것은 나 혼자만이 아니라는 점을.</p>
     <br></br>
     <p>삶을 살아가기 위해 나는 먹고, 자고, 입고, 무언가를 쓴다. 넓은 의미에서의 '소비'를 매순간 하며 산다. 내가 소비하는 무언가는 자연으로부터 오기도 하고, 어떤 이의 손에 의해 창조되기도 하고, 한 생명이 숨을 거두어 만들어기도 한다. 어떠한 방법으로 만들어졌건, 이 세상에 나 혼자 있었다면 내가 누릴 수 없었을 것임은 분명하다. 간단히 말해, 내가 소비하는 것들은 나의 외부로부터 와서 내 것이 된다.
     건강한 삶을 살기 위해서는 내가 소비하는 것들 또한 건강해야한다. 내가 안전하기를 원한다면, 내가 소비하는 무언가도 안전하게 만들어진 것이어야 한다. 내가 편안하기를 원한다면 소비하는 것 역시 편안한 환경 속에 있어야 한다. 내가 따뜻한 삶을 살기를 원한다면 내가 소비하는 것도 같은 온도의 삶을 담고 있어야 한다. 내가 즐거운 삶을 원한다면, 내가 소비하는 무언가를 만드는 이의 삶 또한 즐거울 수 있어야 한다.
     이런 삶을 살고자 하는 데 대한 대가는 아주 간단하다. ‘관심’이다. 내가 속한 이 사회에 대해 관심을 갖는 것. 내가 먹고, 입고, 자며 쓰는 것에 관심을 두는 것. 그뿐이다.</p>
     <br></br>
     <p>LETTER는 건강한 삶을 위해 기꺼이 이 작은 대가를 치르고자 하는 이들을 위한 매체다. 무엇을 먹고, 무엇을 입고, 무엇을 쓰며 사는 삶이 건강한 삶인지에 대해 이야기한다. 나의 삶을 구성하는 작은 것들에 관심을 두고 사는 삶이 얼마나 아름다운지를 보여준다. 건강한 삶의 조각들을 엮어 한 편의 예술 작품으로 만든다. 소중한 이에게 쓰는 한 통의 편지처럼, 마음을 담아.</p>
     우리는 한 사람 한 사람의 힘을 믿는다. 건강한 삶을 위한 노력이 가져올 변화를 믿는다. 그러한 노력이 한 사람, 두 사람, 다섯 사람, 열 사람에 의해 이루어지면 언젠가는 문화가 되리라 믿는다. 그리고, 그렇게 만들어진 문화는 우리가 속한 이 사회 또한 건강하게 만들리라 믿는다.
     톨스토이가 말했다. “모든 사람들이 세상을 변화시키는 것에 대해 생각한다. 하지만 누구도 자신을 변화시키는 것은 생각하지 않는다.” 이미 100년 전에 그는 알았던 것 같다. 세상이 변하기 위해서는 개인이 변해야 한다는 것을.</p>
     이 편지가 당신의 삶을 건강하게 만드는 데 보탬이 되었으면 한다. 그리고 당신의 건강한 삶으로 하여금 이 세상 또한 건강해질 수 있었으면 한다. 머지 않은 미래에 그렇게 되기를 바란다.</p>
<br></br>
<br></br>

<div style = " text-align: right;"
<p>2016년 11월,</p>
<p>Letter를 빚어낸 다섯 사람이 처음 만난 Open College에서</p>
<p>Sora.</p>
</div>
</div>


	

