
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h3>글 수정하기</h3>
			<br></br>
        </div>
    </div>
    <!-- /.row -->
</div>


<%= render 'posts/form' %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<%= link_to "돌아가기", posts_path, class: "btn btn-default" %>
			<br></br>
        </div>
    </div>
    <!-- /.row -->
</div>
