    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                	<h3><%=@post.title%></h3>
					<h5 style="text-align:right"><%=@post.created_at%></h5>
					<p><%= @post.content.html_safe%></p>


					<!-- 좋아요 기능 추가 -->
					<% if current_user.already_archived?(@post) %>
						<%= link_to delete_archive_post_path(@post), method: 'delete' do %>
						like
						<%= @post.users_count %>
						<%end%>
					<% else %>
						<%= link_to archive_post_path(@post), method: 'put' do %>
						like
						<%= @post.users_count %>
						<%end%>		
					<%end%>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


					<% if user_signed_in? && current_user.is_editor %>
						<%= link_to "편집 | ", edit_post_path %>
						<%= link_to "삭제 |", post_path,
									method: :delete,
									data: {confirm: 'Are you sure?'} %>
						<% if @post.category == 'wear' %>
							<%= link_to "목록", posts_wear_path %>
						<% elsif @post.category == 'eat' %>
							<%= link_to "목록", posts_eat_path %>
						<% elsif @post.category == 'live' %>
							<%= link_to "목록", posts_live_path %>
						<% elsif @post.category == 'culture' %>
							<%= link_to "목록", posts_culture_path %>
						<%end%>

					<% else %>
						<% if @post.category == 'wear' %>
							<%= link_to "목록", posts_wear_path %>
						<% elsif @post.category == 'eat' %>
							<%= link_to "목록", posts_eat_path %>
						<% elsif @post.category == 'live' %>
							<%= link_to "목록", posts_live_path %>
						<% elsif @post.category == 'culture' %>
							<%= link_to "목록", posts_culture_path %>
						<%end%>

					<% end %>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

<!-- 좋아요 기능 추가  -->
