body {
  margin: 0 auto;
  max-width: 80em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

/*

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}



h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
  color: #e81c4f;
}

body {
  color: #566b78;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

*/



.btn {
  width : 50px;
  height : 50px;
  position : absolute;
  left : 0px;
  top : 0px;
  z-index : 1;
  background-image : url("http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/menu.png");
  background-size : 50%;
  background-repeat : no-repeat;
  background-position : center;
  cursor : pointer;
}

.close {
  width : 50px;
  height : 50px;
  position : absolute;
  left : 0px;
  top : 0px;
  z-index : 1;
  background-image : url("http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png");
  background-size : 50%;
  background-repeat : no-repeat;
  background-position : center;
  cursor : pointer;
}

#menu {
  width : 150px;
  height : 100%;
  position : fixed;
  top : 0px;
  right : -152px;
  z-index : 10;
  border : 1px solid #c9c9c9;
  background-color : white;
  text-align : center;
  transition: All 0.2s ease; 
    -webkit-transition: All 0.2s ease; 
    -moz-transition: All 0.2s ease; 
    -o-transition: All 0.2s ease; 
}

#menu.open {
  left : 0px;
}