

<!DOCTYPE html>
<html>
  <head>
    <title>Letter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<div id="menu">
    <div class="close"></div>
</div>
<div class="btn">
</div>

<script>
   $(".btn").click(function() {$("#menu").addClass("open"); }); $(".close").click(function() {$("#menu").removeClass("open"); });
</script>

  <body>
   <%= render 'layouts/navbar'  %>
    <div style="text-align:center"><h3><strong><%= link_to "LETTER", root_url%></strong></h3></div> 
	<%= yield %>
</body>
</html>
