


 <!--    <nav class="navbar navbar-default">
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-left">

         <% if user_signed_in? %>
           <li><%= link_to "Log-out", destroy_user_session_path, method: :delete %></li>
         <% else %>
           <li><%= link_to "Log-in", new_user_session_path %></li>
         <% end %>
       </ul>
    </div>
    <a class="navbar-brand"><%= image_tag('letter_logo.jpg',style: ' margin: auto; width:40px; height:40px; position:relative; bottom:8px')%></a> 
  </nav>
 -->
 <!-- first navbar -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Letter menu</a>
            </li>
            <li>
                <%= link_to "Home", root_path %>
            </li>
            <li>
              <%= link_to "About", posts_about_path %>
            </li>
            <li>
              <%= link_to "의", posts_wear_path %>
            </li>
            <li>
              <%= link_to "식", posts_eat_path %>
            </li>
            <li>
              <%= link_to "주", posts_live_path %>
            </li>
            <li>
              <%= link_to "락", posts_culture_path %>
            </li>
   
            <% if user_signed_in? %>
               <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
               <li><%= link_to "좋아요한 글", users_show_path %></li>
             <% else %>
               <li><%= link_to "로그인", new_user_session_path %></li>
            <% end %>

        </ul>
    </nav>
 
    <nav class="navbar  navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                  <%= form_tag posts_path, method: :get do %>
                  <%= text_field_tag :query, params[:query] %>
                  <%= submit_tag "GO", name: nil %>
                  <% end %>
               </ul>
            </div>

            <ul class="navbar-brand"><%= link_to image_tag('letter_logo.jpg',style: ' margin: auto; width:80px; height:80px; position:relative; bottom:50px'),root_path%></ul> 
      
    </nav> 

 
<!--         <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag(current_user.image, size: '20x20', style:'border-radius:3px;vertical-align:top;') if current_user.image %>
                <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Profile", edit_user_registration_path %></li>
              </ul>
            </li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in
               <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "with Auth Blog", new_user_session_path %></li>
                <li><%= link_to "with Facebook", user_facebook_omniauth_authorize_path(:facebook) %></li>
              </ul>
            </li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-default'%></p>
        <% else %>
          <p><%= link_to "로그인", new_user_session_path, class: 'btn btn-default' %></p>
          <p><%= link_to "페이스북으로 로그인", user_facebook_omniauth_authorize_path(:facebook) %></p>
        <% end %>

 -->
     <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

<!-- 

 <nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Brand</a>
     </div>
 

     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>
           <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
         <% else %>
           <li><%= link_to "로그인", new_user_session_path %></li>
         <% end %>
       </ul>
     </div>
   </div>
 </nav> -->